<html><head>
    <!--eBay V3- msxml 6.0 XXXXXXXXXXXXXXXXXXXXXXXXXX-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><!--srcId: ChangeRegistrationShow-->
    <title>eBay.com Change Registration</title>
    <script language="JavaScript"><!--
      function initFocus() {
      var form = document.ChangeEmail;
      if(form !=null)
      {
        if(form !=null)
        {
          for (var i = 0; i < form.elements.length; i++){
            var el = form.elements[i];
            f (el.type == 'text')
            {
              el.focus();
              return;
            }
          }
        } 
      } 
    }
                //-->
    </script>
  <link href="http://include.ebaystatic.com/css/v/us/legacy/ebay-ns.css" media="screen" type="text/css" rel="stylesheet"></head>

<body><div id="gh-gb" tabindex="-1"></div>
  <div id="gh-gb" tabindex="-1"></div>
  <div class="pagewidth">
    <div class="pageminwidth">
      <div class="pagelayout">
        <div class="pagecontainer">
        <!-- Begin eBay Header --><!--2014-11-19 13:36:52,,, uk`1d70f+5361,RcmdId ChangeRegistrationShow,RlogId p4pfan%60jtb9%3Fuk%601d70f%2B5361-14a1ccb7d4c-0x118-->
          <div>
            <script type="text/javascript">var _GlobalNavHeaderUtf8Encoding=true,includeHost='https://secureinclude.ebaystatic.com/';
            </script>
            <script src="https://secureir.ebaystatic.com/v4js/z/i5/r32gctn0fu3vjkpge2mjhij3q.js"></script>
            <script src="https://secureinclude.ebaystatic.com/js/e887/us/ebaybase_v4_e8872us.js"></script>
            <script src="https://secureinclude.ebaystatic.com/js/e867/us/ebaysup_e8672us.js"></script>
            <script type="text/javascript">if(document.documentMode != 8 && document.compatMode != "CSS1Compat") ebay.oDocument._getControl("headerCommon")._exec("writeStyleSheet");</script><link rel="stylesheet" type="text/css" href="https://secureinclude.ebaystatic.com/css/v/us/legacy/ebay-ns.css">
            <div class="gh-acc-exp-div"><a id="gh-hdn-stm" class="gh-acc-a" href="#mainContent"></a></div>
<!--[if lt IE 9]><div id="gh" class="gh-IE8 gh-flex gh-w no-touch "><![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
            <div id="gh" class="gh-w gh-minH no-touch gh-939 gh-799 gh-flex"><!--<![endif]-->
              <table class="gh-tbl">
                <tbody>
                  <tr>
                    <td class="gh-td">
                      <!--[if lt IE 9]><a href="/toHomepage" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="117" height="120" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
                      <a href="/toHomepage" class="iclg" _sp="m570.l2586" id="gh-la">
                        <img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo">
                      </a><!--<![endif]-->
                    </td> 
                  </tr>
                </tbody>
              </table>
            </div><!--ts:2014.12.05.10:25--><!--rq:--><!--rvr:59rc5-->
            <script src="https://secureir.ebaystatic.com/rs/v/c3l1hex5sa5ujctlht45y0yf225.js" type="text/javascript">
            </script>
            <script type="text/javascript">
              GH_spacerImg = "https://secureir.ebaystatic.com/pictures/aw/pics/s.gif";
        
              if(typeof GHJSLoaded === "undefined"){
                !function(){
                  var imgObj,roverURL="http://rover.ebay.com";
                  if(document.location.protocol=="https:"){ 
                    roverURL = roverURL.replace(/^http/, "https"); }
                  
                  if(document.body != null){
                    imgObj = document.createElement("img");
                    imgObj.src = roverURL 
                    + "/roverimp/0/0/9?imp=2046301&trknvp=ghi%3D91"
                    + "%26gh1g%3D"  
                    + encodeURIComponent(document.location.href)
                    + "%26gh2g%3D " + encodeURIComponent(navigator.userAgent)
                    + "&" + (new Date()).getTime();
                    document.body.appendChild(imgObj); 
                  }
                }();
              }

              if (typeof GH != "undefined" && GH) {
                GH.urls = {
                    autocomplete_js:"http://ir.ebaystatic.com/f/gx1od3zdei121fkdjg2mqzahqyl.js", ac_rtm:"http://srx.main.ebayrtm.com/rtm?RtmCmd&a=json&uf=0&e=USC:2&z=11&enc=UTF-8&v=5&rnc=1&_vrdm=1358451349580&p=19320&cb=GH_ac_rtm", mFtrLnk:"http://ir.ebaystatic.com/f/logwisyb5e5yddn4zmlg5mnhbab.js", qanewalerts_endpoint:0
                };
                
                GH.GHSW = {
                  recogoff:0, jsdebug:0, raptor:0, catService:0, sandbox:0, emp:0, no_akamai_autocomplt:"true", ac1:0, ac2:"true", ac3:0, ac4:0, AUTOCOMPLETE_HELP:0, nodoodleon980:0, rtmftr:0, actVer:0, actDebug:0, alerts:0, alertsOff:0, hideMobile:0, survey:0, telDE:0, langSwitch:0, pool:0, SHOW_MYCOLL:"true"
                };
              }
            </script>
            <script type="text/javascript">
              if (typeof GH != "undefined" && GH) {GH_config = {"siteId":"0","geoLang":"[]",sin:1,ct:0,pageId:121,notifCfg:null,catURL:'https://secureinclude.ebaystatic.com/categoryjs/110/en_US_MAIN/category_110en_US_MAIN0.js',impId:'Ay3xxi3g*'};GH.init();}
            </script>
            <script type="text/javascript">var RoverDomainBaseUrl = 'https://rover.ebay.com';var svrGMT = 1417822305627;var scbps=0;var scPageName='ChangeRegistrationShow:121';
            </script>
          </div><!--@sghp@ headerStyle=FULL:SECURE:MYEBAY:NOSKIPLINK @eghp@--><!-- End eBay Header -->
          <br>
          <script type="text/javascript" src="https://secureinclude.ebaystatic.com/js/e901/us/features/registration/change_registration_e9012us.js"> 
          </script>
          <table border="0" cellpadding="0" cellspacing="0" width="400">
            <tbody>
              <tr>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td colspan="2">
                  <img src="https://securepics.ebaystatic.com/aw/pics/spacer.gif" width="1" height="10" alt=" ">
                </td>
              </tr>
            </tbody>
          </table>
          <br><table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
              
              </tr>
              <tr>
                <td>
                  <b class="pagetitle" id="mainContent">
                    <h1 style="display:inline;"> Registration Information 
                    </h1>
                  </b>
                </td>
              </tr>
            </tbody>
          </table>
          <table border="0" cellpadding="3" cellspacing="1" width="600">
            <tbody>
              <tr>
                <td>
                <p>Thank you for letting us know about changes to your user information. Please make any changes necessary, and then click the change registration information button on the bottom of the page.</p>
                </td>
              </tr>
            </tbody> 
          </table>
          <form name="CHGREGFORMSHOW" method="post" action="https://scgi.ebay.com/ws/eBayISAPI.dll?ChangeRegistrationShow">
            <input type="hidden" name="UsingSSL" value="true">
          </form>
          <form name="CHGREGFORM" method="post" action="/editNameAddress">
            <input type="hidden" name="MfcISAPICommand" value="ChangeRegistrationPreview">
            <input type="hidden" name="UsingSSL" value="true">
            <input type="hidden" name="userid" value="">
            <input type="hidden" name="pass" value="">
            <table bordercolor="#efefef" border="1" cellpadding="0" cellspacing="0" width="600">
              <tbody>
                <tr>    
                  <td>
                    <table border="0" cellpadding="4" cellspacing="2" width="600">
                      <tbody>
                        <tr>
                          <td colspan="2" bgcolor="#cccccc">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td width="75%" class="sectiontitle">
                                    <h2 style="display:inline"> Enter Your Registration Information 
                                    </h2>
                                  </td>
                                  <td width="25%" align="right">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td width="25%" bgcolor="#efefef">
                            <b><label for="email">E-mail address</label></b>
                          </td>
                          <td width="75%">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td width="50%"><input type="text" id="email" value="<%= session.user.Person_email %>" readonly size="32"></td>
                                  <td width="50%" align="right">(
                                    <a href="/toEditEmail">change your e-mail address)</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                       
                       <tr>
                          <td width="25%" bgcolor="#efefef">
                            <b><label for="password">Password</label></b>
                          </td>
                          <td width="75%">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td width="50%"><input type="password" id="password" value="<%= session.user.Person_pass %>" readonly size="32"></td>
                                  <td width="50%" align="right">(
                                    <a href="/toEditPassword">change your password)</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        
                        <tr>
                          <td width="25%" bgcolor="#efefef">
                            <b>Name</b>
                          </td>
                          <td width="75%" nowrap="">
                            <table align="left" border="0">
                              <tbody>
                                <tr>
                                  <td nowrap="">
                                    <b><label for="newfirstname">First Name</label></b>
                                    <br>
                                    <input type="text" name="newfirstname" size="15" maxlength="64" value="<%= session.user.Person_first_name %>" id="newfirstname">
                                  </td>
                                  
                                  <td nowrap="">
                                    <b><label for="newlastname">Last Name</label>
                                    </b>
                                    <br>
                                    <input type="text" name="newlastname" size="15" maxlength="64" value="<%= session.user.Person_last_name %>" id="newlastname">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td bgcolor="#efefef">
                            <strong>
                              <label for="newaddress">Address</label>
                            </strong>
                          </td>
                          <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td width="75%">
                                    <input type="text" name="newaddress" size="40" id="newaddress" maxlength="64" value="<%= session.user.Person_address %>">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        
                        <tr>
                          <td width="25%" bgcolor="#efefef">
                          <b><label for="newcity">City</label></b>
                          </td>
                          <td width="75%">
                            <input type="text" name="newcity" size="40" maxlength="64" value="<%= session.user.Person_city %>" id="newcity">
                          </td>
                        </tr>
                        <tr>
                          <td width="25%" bgcolor="#efefef">
                            <b><label for="newstate">State</label></b>
                          </td>
                          <td width="75%">
                            <input type="text" name="newstate" size="40" maxlength="64" value="<%= session.user.Person_state %>" id="newstate">
                          </td>
                        </tr>
                        <tr>
                          <td width="25%" bgcolor="#efefef">
                            <b><label for="newzip">Postal Code (Zip)</label></b>
                          </td>
                          <td width="75%"><input type="text" name="newzip" size="20" maxlength="12" value="<%= session.user.Person_zip %>" id="newzip"></td>
                        </tr>
                        <tr>
                          <td width="25%" bgcolor="#efefef">
                            <b><label for="newssn">SSN</label></b>
                          </td>
                          <td width="75%">
                            <input type="text" name="newssn" size="40" maxlength="64" value="<%= session.user.Person_ssn %>" id="newssn">
                          </td>
                      </tr></tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <p><b><input type="submit" value="change registration information"></b></p>
            <p><input type="reset" value="Reset"></p>
            <p></p>
          </form>
          <br>
          <script type="text/javascript" language="JavaScript">
            ebay.oDocument.oPage.createConfig = function() {
              var c = ebay.oDocument.addConfig(new EbayConfig('Reg.CtryConfig'));     
              c.sTargetType = "RegisterEnterInfo";
              c.sCountrySelectName = "countryId";
              c.sCountryTargetType = "ChangeRegistrationPreview";
              c.sFrmName = "CHGREGFORM";
              c.sFrmSubmit = "CHGREGFORMSHOW";
              c.smode = "mode";
              //Added for Buyer Legal Registration Project
              c.aApoState = ["AA","AE","AP"];
              c.sSiteID = 0;
              c.sStateSelectName = "state";
              c.sCountryAPOId = 225;
              c.sCountrySelectName = "countryId";
              c.sCountryId = 1;
            };
            ebay.oDocument.oPage.createConfig();
          </script>
            

  </body>
</html>